@import 'tailwindcss';

@theme {
    --font-family-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
    --font-family-condensed: 'Barlow Condensed', ui-sans-serif, system-ui, sans-serif;
}

.font-condensed {
    font-family: var(--font-family-condensed);
}
